html {
	height: 100%;
	width: 100%;
}
body {
	min-width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: auto;
	background: radial-gradient(green, rgb(1, 99, 1), rgb(1, 43, 1));
}
p {
	margin: 0;
}
/* #wrapper {
	background-color: red;
} */
.busted {
	transform: rotate(0deg);
	animation: rotate 4s;
	animation-timing-function: linear;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(10deg);
	}
	40% {
		transform: rotate(-10deg);
	}
	60% {
		transform: rotate(10deg);
	}
	80% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
#maincontainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em;
}
h1 {
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-size: 4.5em;
	text-shadow: 0.3em 0.3em 0.5em black, 0em 0em 1em white;
}
h3 {
	color: red;
	text-shadow: 0.09em 0.1em 0.9em black;
	margin: 2em;
}
.container {
	margin: 2em;
	height: 7.5em;
}

.modal {
	display: block; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modalContainer {
	background-color: transparent;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	/* border: 1px solid #888; */
	width: 80%; /* Could be more or less, depending on screen size */
	text-align: center;
}

#dealerTotal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 1em;
}
#playerTotal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 1em;
}
#dealerContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0.5em;
}
#playerContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0.5em;
}

img {
	width: 3.5em;
	height: 5.5em;
	margin: 0.5em;
	box-shadow: 0.01em 0.01em 1.5em rgb(70, 69, 69);
}
#divBtn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* padding: 0.5em; */
	margin: 0em;
	height: 2em;
	width: 15em;
}
button {
	/* margin: 0.1em; */
	border: 0.2em groove #10564f;
	border-radius: 0.3em;
	color: #a00909;
	cursor: pointer;
	background: radial-gradient(#cae0cf, #d8e7e6, black 160%);
	font-size: 0.9em;
	font-family: 'Press Start 2P', cursive;
	box-shadow: 0.01em 0.01em 0.5em white, 0.01em 0.01em 1em rgb(0, 0, 0);
	text-shadow: 0.05em 0.05em 1em #05445e, 0.05em 0.05em 0.3em rgb(224, 69, 69);
}

.invisiblebtn {
	display: none;
}
/* portrait media  */
@media (min-height: 760px) {
	#divBtn {
		margin-top: 9em;
	}
}
@media (min-height: 900px) {
	#divBtn {
		margin-top: 12em;
	}
}
/* ipad media needs work */

/* Landscape media  */

@media (min-width: 640px) and (min-height: 320px) {
	body {
		background: radial-gradient(rgb(175, 12, 12), black);
	}
	#maincontainer {
		background: radial-gradient(green 55%, black);
		border: .3em solid rgb(71, 14, 14);
		border-radius: 55%;
		box-shadow: 0em 0em 2em rgb(202, 178, 178), 0em 0em 1em rgb(140, 187, 10);
	}

	h3 {
		margin: 0.7em;
	}
	.container {
		margin: 0.3em;
		height: 4.7em;
	}
	img {
		width: 2.5em;
		height: 3.5em;
	}
}

/* Desktop media */
@media (min-width: 1440px) {
	body {
		background: radial-gradient(rgb(175, 12, 12), black);
	}
	img {
		width: 6.3em;
		height: 9.5em;
		margin: 0.5em;
	}
	#maincontainer {
		background: radial-gradient(green, rgb(1, 99, 1), rgb(1, 43, 1) 80%);
		border: 1em solid rgb(36, 13, 13);
		border-radius: 50%;
		box-shadow: 0em 0em 0.4em rgb(255, 255, 255), 0em 0em 0.8em rgb(199, 54, 54);
	}
	.container {
		height: 9em;
		margin: 1.5em;
	}
	#dealerTotal {
		margin: 1em;
	}
	#playerTotal {
		margin: 1em;
	}
	button {
		font-size: 1.1em;
	}
}
